::ng-deep .p-dialog {
  background: white !important;
}

::ng-deep .p-dialog-content {
  background: white !important;
}

::ng-deep .p-dialog-header {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}
